.home {
  background: white;
}

.home-nav {
  width: 100vw;
  height: 30vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 18vw;
  padding-top: 3vh;
  box-shadow: 0.4vw 0.4vw 1vw rgba(0, 0, 0, 0.07);
  z-index: 3;
  background: rgba(255, 255, 255, 0.51);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.home-nav-top {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.home-nav-top img {
  width: 2.57vw;
  height: 2.57vw;
}

.home-nav-top h2 {
  font-size: 2vw;
  font-weight: 500;
}

.home-nav-search {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

.home-nav-search img {
  width: 2vw;
  z-index: 3;
  margin-right: -3vw;

}

.home-nav-search input {
  width: 75%;
  height: 60%;
  border: none;
  outline: none;
  border-radius: 2vw;
  padding: 2vw;
  padding-left: 4vw;
  font-size: 1vw;
  box-shadow: 0 0 1vw #00000010;
}

.home-nav-filter {
  height: 7vh;
  display: flex;
  align-items: center;
  gap: 3vw;
}

.home-nav-filter button {
  cursor: pointer;
  font-size: 16px;
  font-size: 1vw;
  padding: 1vh 1vw;
  border-radius: 2vw;
  border: none;
  background: white;
  color: #2C2C2C99;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  box-shadow: 0 0 1vw #00000010;
}

.home-nav-filter button img {
  width: 1vw;
}

.home-nav-columns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vw;
}

.home-nav-columns a {
  color: black;
  font-size: 1vw;
  width: 9vw;
}

.home-nav-columns a:nth-child(1) {
  width: 10vw;
}

.home-nav-columns a:nth-child(2) {
  margin-left: 12vw;
}

.home-nav-columns a:nth-child(3) {
  margin-left: 4vw;
}

.home-nav-columns a:nth-child(4) {
  margin-left: 3vw;
}

.home-nav-columns a:nth-child(5) {
  margin-left: -2vw;
}

.home-nav-columns a:nth-child(6) {
  margin-left: -1vw;
}

.home-body {
  padding-top: 32vh;
  z-index: 0;
  display: flex;
  gap: 1vw;
  flex-direction: column;
}

.appoint-card {
  width: 82vw;
  display: flex;
  gap: 1vw;
}

.appoint-card-customer {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0.7vw;
  border-radius: 0.7vw;
  box-shadow: 0 0 2vw #00000015;
}

.appoint-card-customer img {
  width: 4vw;
  height: 3.5vw;
  border-radius: 35vw;
}
.customerName {
  width: 15vw;
  font-size: 1.2vw;
  margin: 0 1vw;
}
.appointNumber {
  font-size: 1.2vw;
  padding-left: 8vw;
}

.customerNumber {
  font-size: 1.2vw;
  color: #0060CE;
  padding-left: 1.5vw;
  text-decoration: underline;
}

.appointDate {
  font-size: 0.8vw;
  padding-left: 3vw;
}

.appointTime {
  font-size: 0.8vw;
  padding-left: 5vw;
}

.appoint-card-master {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 0.7vw;
  border-radius: 0.7vw;
  box-shadow: 0 0 2vw #00000015;
}

.appoint-card-master-img {
  width: 4vw;
  height: 4vw;
  border-radius: 30vw;
}

.appoint-card-masterName {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-bottom: 0.5vw;
}

.appoint-card-masterName p {
  font-size: 1.2vw;
}

.appoint-card-masterJob {
  width: 4vw;
  height: 3vh;
  background: #CA940099;
  border-radius: 0.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appoint-card-masterJob p {
  font-size: 0.7vw;
  font-weight: 600;
  color: white;
}

.appoint-card-masterRating {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 0.7vw;
}

.appoint-card-masterRating img {
  width: 1vw;
}


/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 650px) {
  .home-nav {
    height: auto;
    min-height: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1.5vh;
    padding-bottom: 1vh;
  }

  .home-nav-top img {
    width: 5vw;
    height: 5vw;
  }

  .home-nav-top h2 {
    font-size: 4.5vw;
  }

  .home-nav-search {
    height: auto;
    position: relative;
    padding-left: 0;
    padding-top: 1vh;
  }

  .home-nav-search img {
    width: 4vw;
    position: absolute;
    left: 3vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    margin-right: 0;
  }

  .home-nav-search input {
    width: 100%;
    height: 9vw;
    font-size: 3vw;
    padding-left: 9vw;
    border-radius: 5vw;
  }

  .home-nav-filter {
    height: auto;
    flex-wrap: wrap;
    gap: 2vw;
    padding-top: 1vh;
  }

  .home-nav-filter button {
    font-size: 2.8vw;
    padding: 1.5vw 3vw;
    border-radius: 4vw;
    gap: 1.5vw;
  }

  .home-nav-filter button img {
    width: 3vw;
  }

  .home-nav-columns {
    display: none;
  }

  .home-body {
    padding-top: 35vw;
    gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .appoint-card {
    width: 100%;
    flex-direction: column;
    gap: 2vw;
  }

  .appoint-card-customer {
    width: 100%;
    padding: 2.5vw;
    border-radius: 3vw;
    flex-wrap: wrap;
    gap: 1.5vw;
  }

  .appoint-card-customer img {
    width: 10vw;
    height: 10vw;
  }

  .customerName {
    width: auto;
    font-size: 3.5vw;
    margin: 0 1vw;
  }

  .appointNumber {
    font-size: 3vw;
    padding-left: 0;
  }

  .customerNumber {
    font-size: 3vw;
    padding-left: 0;
  }

  .appointDate {
    font-size: 2.8vw;
    padding-left: 0;
  }

  .appointTime {
    font-size: 2.8vw;
    padding-left: 2vw;
  }

  .appoint-card-master {
    width: 100%;
    padding: 2.5vw;
    border-radius: 3vw;
    gap: 2vw;
  }

  .appoint-card-master-img {
    width: 10vw;
    height: 10vw;
  }

  .appoint-card-masterName p {
    font-size: 3.5vw;
  }

  .appoint-card-masterJob {
    width: auto;
    min-width: 12vw;
    height: auto;
    padding: 1vw 2vw;
    border-radius: 1.5vw;
  }

  .appoint-card-masterJob p {
    font-size: 2.5vw;
  }

  .appoint-card-masterRating {
    font-size: 2.5vw;
    gap: 1vw;
  }

  .appoint-card-masterRating img {
    width: 3vw;
  }
}